.container{
	text-align: center;
	min-width:400px;
	height: auto;
	padding: 10px;
	font-family: Helvetica, Arial, sans-serif;
}

.navbar .container{
	justify-content: flex-start;
}

.logo{
	width:60px;
	height:60px;
}
#mainHeading{
	color:white;
	font-weight: bold;
}

.image{
	width:150px;
	height: 150px;
	object-fit: scale-down;
}

li{
	list-style: none;
	padding: 10px;
}

ul{
	padding: 0px;
}

.scroll{
	max-height: 425px;
	overflow-y: scroll;
}