.container{
	text-align: center;
	min-width:400px;
	height: auto;
	padding: 10px;
	font-family: Helvetica, Arial, sans-serif;
}

.navbar .container{
	justify-content: flex-start;
}

.logo{
	width:60px;
	height:60px;
}
#mainHeading{
	color:white;
	font-weight: bold;
}

.image{
	width:150px;
	height: 150px;
	object-fit: scale-down;
}

li{
	list-style: none;
	padding: 5px;
	margin: 5px 0 5px 0;
    background: white;
    box-shadow: 1px 1px 5px #cfcfcf;
	border-radius: 5px;
}

ul{
	padding: 0px;
	margin: 0px;
}

.scroll{
	max-height: 425px;
	overflow-y: scroll;
    padding: 0 5px 0 0;
}

#downloadContainer{
	padding: 0 10px 0 10px;
}

#downloadAllContainer{
	border-top: 2px solid #f6f6f6;
}