.container{
	text-align: center;
	min-width:350px;
	height: auto;
	padding: 10px;
	font-family: Helvetica, Arial, sans-serif;
}

.navbar .container{
	justify-content: flex-start;
}

.logo{
	width:60px;
	height:60px;
}
#mainHeading{
	color:white;
	font-weight: bold;
}